// Define variables for your color scheme

// For example:
$red: #EE0033;
$purple: #8000FF;
$pink: #FECCF2;
$blue: #2367F9;
$yellow: #FFF721;
$orange: #E65513;
$green: #2CB95A;
$gray: #69666E;
$white: whitesmoke;
$light-gray: #E6E6E6;

$black: rgba(0, 0, 0, 1.0);
$zero_one: rgba(0, 0, 0, 0.1);
$zero_two: rgba(0, 0, 0, 0.2);
$zero_25: rgba(0, 0, 0, 0.25);
$zero_three: rgba(0,0,0,0.3);
$zero_four: rgba(0,0,0,0.4);
$zero_five: rgba(0,0,0,0.5);
$zero_six: rgba(0, 0, 0, 0.6);
$zero_seven: rgba(0, 0, 0, 0.7);
$zero_eight: rgba(0, 0, 0, 0.8);
$zero_nine: rgba(0, 0, 0, 0.9);
